* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Merriweather', serif;
  font-size: .9rem;
}

.secondary {
  color: #e7a220;
}

.row {
  margin: 0;
}

.navbar-expand-md {
  position: fixed;
  width: 100%;
  min-height: 5em;
  z-index: 50;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-expand-md .navbar-brand {
  width: 20%;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  display: none;
}

.navbar-expand-md button:focus {
  outline: none;
}

.navbar-expand-md .toggler-btn {
  padding: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-expand-md .bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-expand-md .change .bar1 {
  -webkit-transform: translateY(8px) rotate(135deg);
          transform: translateY(8px) rotate(135deg);
}

.navbar-expand-md .change .bar2 {
  opacity: 0;
}

.navbar-expand-md .change .bar3 {
  -webkit-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}

.navbar-expand-md .navbar-collapse {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-expand-md .navbar-nav {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-expand-md .navbar-nav .space {
  width: 30%;
}

.navbar-expand-md .navbar-nav a {
  padding: 10px 20px;
  text-transform: capitalize;
  letter-spacing: .15rem;
  color: #cacaca;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar-expand-md .navbar-nav a:hover {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  border-top: 2px solid #e7a220;
  border-bottom: 2px solid #e7a220;
}

.navbar-bg {
  background-image: radial-gradient(circle, #999999f5, #767676f5, #555555f5, #353535f5, #191919f5);
}

.header {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(40, 40, 40, 0.8)), to(rgba(40, 40, 40, 0.8))), url("../../images/architecture-boy-buildings-307847.jpg");
  background-image: linear-gradient(to right top, rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)), url("../../images/architecture-boy-buildings-307847.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
}

.header .borderBox {
  position: absolute;
  height: 17rem;
  width: 17rem;
  border: 0.5rem solid #e7a220;
  z-index: 1;
  left: 50%;
  top: -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header .borderBox .content {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  -webkit-transform: translate(-35%, 40%) rotate(45deg);
          transform: translate(-35%, 40%) rotate(45deg);
}

.header .borderBox .content .line {
  height: .2rem;
  width: 60%;
  margin: .5rem auto .8rem auto;
  background: #fff;
}

.header .borderBox .content .icons {
  font-size: 1rem;
  font-weight: 100;
}

.header .borderBox .content .icons i {
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  border: .2rem solid #fff;
  border-radius: 50%;
}

.header .heading {
  position: absolute;
  width: 90%;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header .heading h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: .7rem;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.header .heading p {
  margin: 2rem auto;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.header .heading .btn {
  width: 12rem;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .15rem;
  background: #e7a220;
  color: #fff;
  padding: .7rem 0;
  border-radius: 5rem;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.header .heading .btn:hover {
  color: #fff;
  background: #191919;
}

.btn {
  width: 25vh;
  margin: 2rem auto;
  letter-spacing: .1rem;
  padding: .5rem 0;
  background: #e7a220;
  color: #fff;
  border-radius: 10rem;
}

.description {
  margin: 0;
  padding: 5% 0 5% 10%;
}

.description h1 {
  color: #191919;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.description .line {
  height: .4rem;
  width: 50%;
  background: #e7a220;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.description p {
  color: #191919;
  margin: 1.5rem 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.gridContent .icon {
  color: #e7a220;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridContent h5 {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}

.gridContent p {
  margin-top: 0;
  color: #999999;
}

.creativeTeam {
  padding: 0;
  min-height: 90vh;
  overflow: hidden;
}

.creativeTeam .creativeTeamGallery {
  position: relative;
  height: 100%;
  -webkit-transform: translate(10%, -5%) rotate(-45deg);
          transform: translate(10%, -5%) rotate(-45deg);
}

.creativeTeam .creativeTeamGallery .image, .creativeTeam .creativeTeamGallery .borderBox {
  position: absolute;
  height: 17rem;
  width: 17rem;
  top: 50%;
  left: 50%;
}

.creativeTeam .creativeTeamGallery .image {
  border: 0.3rem solid #e7a220;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.creativeTeam .creativeTeamGallery .borderBox {
  -webkit-transform: translate(-10%, -160%);
          transform: translate(-10%, -160%);
  border: 1rem solid #f1c87c;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.creativeTeam .creativeTeamGallery img {
  height: 150%;
  width: 150%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.creativeTeam .creativeTeamGallery .img1 {
  -webkit-transform: translate(-160%, -50%);
          transform: translate(-160%, -50%);
}

.creativeTeam .creativeTeamGallery .img2 {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.creativeTeam .creativeTeamGallery .img3 {
  -webkit-transform: translate(60%, -50%);
          transform: translate(60%, -50%);
}

.creativeTeam .creativeTeamGallery .img4 {
  -webkit-transform: translate(-50%, 60%);
          transform: translate(-50%, 60%);
}

.bestTeam {
  background: #191919;
  padding: 0;
  min-height: 80vh;
  overflow: hidden;
}

.bestTeam .ourBestTeam h1 {
  color: #fff;
}

.bestTeam .ourBestTeam p {
  color: #fff;
}

.bestTeam .ourBestTeam .btn:hover {
  color: #fff;
  background: #999999;
}

.bestTeam .teamGallery {
  padding: 0;
}

.bestTeam .teamGallery .row {
  height: 100%;
}

.bestTeam .teamGallery .row .member {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.bestTeam .teamGallery .row .member img {
  width: 80%;
}

.bestTeam .teamGallery .row .member h5 {
  margin: 1.5rem auto 1rem auto;
  color: #e7a220;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.bestTeam .teamGallery .row .member p {
  margin: 0;
  color: #999999;
}

.ourWork {
  padding: 0;
  min-height: 80vh;
  overflow: hidden;
}

.ourWork .gallery {
  position: relative;
  padding: 0;
  height: 100%;
}

.ourWork .gallery .img1 {
  position: absolute;
  height: 50%;
  width: 60%;
  right: 32.5%;
  top: 2.5%;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}

.ourWork .gallery .img2 {
  position: absolute;
  height: 30%;
  width: 30%;
  right: 0;
  top: 2.5%;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}

.ourWork .gallery .img3 {
  position: absolute;
  height: 65%;
  width: 30%;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}

.ourWork .gallery .img4 {
  position: absolute;
  height: 42.5%;
  width: 50%;
  right: 32.5%;
  bottom: 2.5%;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}

.chooseUs {
  background: #191919;
  padding: 0;
  min-height: 80vh;
  overflow: hidden;
}

.chooseUs .photo {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.chooseUs .photo img {
  height: 90%;
  width: 90%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.chooseUs .whyChooseUs {
  padding: 5% 10% 5% 0%;
}

.chooseUs .whyChooseUs h1 {
  color: #fff;
}

.chooseUs .whyChooseUs .whyChooseUsContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem 0 0 0;
}

.chooseUs .whyChooseUs .whyChooseUsContent .icon {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.chooseUs .whyChooseUs .whyChooseUsContent h5 {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.ourService {
  padding: 0;
  min-height: 80vh;
  overflow: hidden;
}

.ourService .ourBestService {
  padding: 5% 8% 5% 10%;
  text-align: end;
}

.ourService .ourBestService .line {
  float: right;
}

.ourService .ourBestService p {
  margin: 3.4rem 0;
}

.ourService .ourServicePhoto {
  padding: 0;
  background: url("../../images/camera-coffee-composition-1509428.jpg") center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.ourService .ourServicePhoto .ourServiceDesc {
  height: 85%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background: #191919;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  overflow: hidden;
}

.ourService .ourServicePhoto .ourServiceDesc .descContent {
  text-align: center;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}

.ourService .ourServicePhoto .ourServiceDesc .descContent .icon {
  color: #fff;
  margin: 1rem auto;
}

.ourService .ourServicePhoto .ourServiceDesc .descContent .icon-border {
  height: 10vh;
  width: 10vh;
  border: .5vh solid #fff;
  border-radius: 50%;
}

.ourService .ourServicePhoto .ourServiceDesc .descContent .text {
  width: 80%;
  margin: 0 auto;
}

.ourService .ourServicePhoto .ourServiceDesc .descContent h5 {
  color: #e7a220;
}

.ourClient {
  background: #191919;
  padding: 0;
  min-height: 50vh;
  overflow: hidden;
}

.ourClient .ourClientSay {
  padding: 5% 2% 5% 10%;
}

.ourClient .ourClientSay h1 {
  color: #fff;
}

.ourClient .ourClientSay p {
  color: #fff;
}

.ourClient .clientPhoto {
  background: url("../../images/adult-asian-banking-733856.jpg") center center;
  background-size: cover;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}

.ourClient .clientComment {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}

.ourClient .clientComment .container {
  width: 55%;
  text-align: center;
}

.ourClient .clientComment .container i {
  color: #e7a220;
}

.ourClient .clientComment .carousel-indicators {
  top: 100%;
}

.ourClient .clientComment .carousel-indicators li {
  background-color: #191919;
}

.ourClient .clientComment .carousel-indicators .active {
  background-color: #e7a220;
}

.getInTouch {
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 30vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(49, 49, 49, 0.8)), to(rgba(48, 48, 48, 0.8))), url("../../images/mihail-macri-541060-unsplash.jpg");
  background-image: linear-gradient(to right top, rgba(49, 49, 49, 0.8), rgba(48, 48, 48, 0.8)), url("../../images/mihail-macri-541060-unsplash.jpg");
  background-size: cover;
}

.getInTouch .getInTouchIcons {
  width: 70%;
  text-align: center;
}

.getInTouch .getInTouchIcons h1 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5vh;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.getInTouch .getInTouchIcons .mediaIcons {
  font-size: 3.2vh;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.getInTouch .getInTouchIcons .mediaIcons i {
  margin: 2rem auto 0 auto;
  color: #fff;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border: .15rem solid #fff;
  border-radius: 50%;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.footer {
  padding: 0;
  min-height: 50vh;
  background: #191919;
  position: relative;
  overflow: hidden;
}

.footer .footerContent {
  width: 90%;
  margin: 4rem auto 10rem auto;
}

.footer .footerContent .f-content {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footerContent .f-content .icon {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
}

.footer .footerContent .f-content .text {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.footer .footerContent .f-content ul li {
  color: #999999;
  list-style: none;
}

.footer .borderBox {
  position: absolute;
  height: 15rem;
  width: 15rem;
  border: 0.5rem solid #e7a220;
  z-index: 1;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(-50%, 25%) rotate(-45deg);
          transform: translate(-50%, 25%) rotate(-45deg);
  opacity: 0;
}

.footer .borderBox .content {
  color: #fff;
  text-align: center;
  font-size: .8rem;
  -webkit-transform: translate(35%, -120%) rotate(45deg);
          transform: translate(35%, -120%) rotate(45deg);
}
/*# sourceMappingURL=main.css.map */