
$secondary:rgb(231,162,32);
$primary:rgb(25, 25, 25);
$lightPrimary : lighten($primary,50%);

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: 'Merriweather', serif;
    font-size: .9rem;
}

.secondary{
    color: $secondary;
}

.row{
    margin: 0;
}

 //  navbar section
.navbar-expand-md{
    position: fixed;
    width: 100%;
    min-height: 5em;
    z-index: 50;
    transition: all .2s ease;

    .navbar-brand{
        width: 20%;
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        display: none;
    }

    button:focus{
        outline: none;
    }

    .toggler-btn{
        padding: 5px;
        transition: all 1s ease;
    }
    
    .bar{
        width: 30px;
        height: 3px;
        margin: 5px;
        background: #fff;
        transition: all 0.5s ease;
    }
    
    .change .bar1{
        transform: translateY(8px) rotate(135deg);
    }
    
    .change .bar2{
        opacity: 0;
    }
    
    .change .bar3{
        transform: translateY(-8px) rotate(45deg);
    }

    .navbar-collapse{
        width: 100%;
        justify-content: flex-end;
    }

    .navbar-nav{
        width: 100%;
        justify-content: space-evenly;

        .space{
            width: 30%;
        }

        a{
            padding: 10px 20px;
            text-transform: capitalize;
            letter-spacing: .15rem;
            color: rgb(202, 202, 202);
            transition: all .5s ease;

            &:hover{
                padding-top: 8px;
                padding-bottom: 8px;
                color: #fff;
                border-top: 2px solid $secondary;
                border-bottom: 2px solid $secondary;
            }
        }
    }
}

.navbar-bg{
    background-image: radial-gradient(circle, #999999f5, #767676f5, #555555f5, #353535f5, #191919f5);
}

// end of navbar section


// start of header section

.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right top, rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)), url("../../images/architecture-boy-buildings-307847.jpg");
    background-size: cover;
    position: relative;
    color: #fff;

    .borderBox{
        position: absolute;
        height: 17rem;
        width: 17rem;
        border: .5rem solid $secondary;
        z-index: 1;
        left: 50%;
        top: -50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transform: translate(-50%,-50%) rotate(-45deg);

        .content{
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            transform: translate(-35%,40%) rotate(45deg);

            .line{
                height: .2rem;
                width: 60%;
                margin: .5rem auto .8rem auto;
                background: #fff;
            }
                
            .icons{
                font-size: 1rem;
                font-weight: 100;

                i{
                    height: 2.5rem;
                    width: 2.5rem;
                    line-height: 2.5rem;
                    border: .2rem solid #fff;
                    border-radius: 50%;
                }
            }
        }
    }

   
    // start of heading section

    .heading{
        position: absolute;
        width: 90%;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;

        h1{
            font-family: 'Russo One', sans-serif;
            font-size: 4rem;
            font-weight: 500;
            letter-spacing: .7rem;
            text-transform: uppercase;
            text-align: center;
            opacity: 0;
            transform: translateY(50px);
        }

        p{
            margin: 2rem auto;
            opacity: 0;
            transform: translateY(50px);
        }

        .btn{
            width: 12rem;
            margin: 1rem auto;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: .15rem;
            background: $secondary;
            color: #fff;
            padding: .7rem 0;
            border-radius: 5rem;
            opacity: 0;
            transform: translateY(50px);

            &:hover{
                color: #fff;
                background: $primary;
            }
        }
    }

    // end of heading section
}

// shared css

.btn{
    width: 25vh;
    margin: 2rem auto;
    letter-spacing: .1rem;
    padding: .5rem 0;
    background: $secondary;
    color: #fff;
    border-radius: 10rem;
}


.description{
    margin:0;
    padding: 5% 0 5% 10%;
    
    h1{
        color: $primary;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        opacity: 0;
        transform: translateY(50px);
    }

    .line{
        height: .4rem;
        width: 50%;
        background: $secondary;
        opacity: 0;
        transform: translateY(50px);
    }

    p{
        color: $primary;
        margin: 1.5rem 0;
        opacity: 0;
        transform: translateY(50px);
    }
}


.gridContent{
    .icon{
        color: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h5{
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    p{
        margin-top: 0;
        color: $lightPrimary;
    }
}
// start of creative team section

.creativeTeam{
    padding: 0;
    min-height: 90vh;
    overflow: hidden;

    .creativeTeamGallery{
        position: relative;
        height: 100%;
        transform:translate(10%,-5%) rotate(-45deg);
       

        .image, .borderBox{
            position: absolute;
            height: 17rem;
            width: 17rem;
            top: 50%;
            left: 50%;
        }

        .image{
            border: .3rem solid $secondary;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .borderBox{
            transform: translate(-10%,-160%);
            border: 1rem solid lighten($secondary, 20%);
            filter: blur(1px);
        }

        img{
            height: 150%;
            width: 150%;
            transform: rotate(45deg);
        }

        .img1{
            transform: translate(-160%,-50%);
        }

        .img2{
            transform: translate(-50%,-50%);
        }

        .img3{
            transform: translate(60%,-50%);
        }

        .img4{
            transform: translate(-50%,60%);
        }
    }
}

// end of creative team section

// start of our best team section

.bestTeam{
    background: $primary;
    padding: 0;
    min-height: 80vh;
    overflow: hidden;
    .ourBestTeam{
        
        h1{
            color: #fff;
        }

        p{
            color: #fff;
        }

        .btn{
            &:hover{
                color: #fff;
                background: $lightPrimary;
            }
        }
    }

    .teamGallery{
        padding: 0;
        .row{
            height: 100%;
            .member{
                padding: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transform: translateY(100px);
                opacity: 0;

                img{
                    width: 80%;
                }
                h5{
                    margin: 1.5rem auto 1rem auto;
                    color: $secondary;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: bold;
                }
    
                p{
                    margin: 0;
                    color: $lightPrimary;
                }
            }
        }
        
    }
}

// end of our best team section


// start of our best work section

.ourWork{
    padding: 0;
    min-height: 80vh;
    overflow: hidden;
   
    .gallery{
        position: relative;
        padding: 0;
        height: 100%;

        .img1{
            position: absolute;
            height: 50%;
            width: 60%;
            right: 32.5%;
            top: 2.5%;
            transform: translateX(200px);
            opacity: 0;
        }

        .img2{
            position: absolute;
            height: 30%;
            width: 30%;
            right: 0;
            top: 2.5%;
            transform: translateX(200px);
            opacity: 0;
        }

        .img3{
            position: absolute;
            height: 65%;
            width: 30%;
            right: 0;
            bottom: 0;
            transform: translateX(200px);
            opacity: 0;
        }

        .img4{
            position: absolute;
            height: 42.5%;
            width: 50%;
            right: 32.5%;
            bottom: 2.5%;
            transform: translateX(200px);
            opacity: 0;
        }
    }
}

// end of our best work section

// start of why choose us section

.chooseUs{
    background: $primary;
    padding: 0;
    min-height: 80vh;
    overflow: hidden;
    .photo{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: start;
        img{
            height: 90%;
            width: 90%;
            transform: translateX(-100%);
            opacity: 0;
        }
    }
    .whyChooseUs{
        padding: 5% 10% 5% 0%;
        
        h1{
            color: #fff;
        }

        .whyChooseUsContent{
            display: grid;
            grid-template-columns: 20% 80%;
            justify-content: center;
            margin: 1.5rem 0 0 0;

            .icon{
                justify-content: start;
                opacity: 0;
                transform: translateY(100px);
            }

            h5{
                opacity: 0;
                transform: translateY(50px);
            }
        }
    }
}

// end of why choose us section

// start of our best service section

.ourService{
    padding: 0;
    min-height: 80vh;
    overflow: hidden;
    .ourBestService{
        padding: 5% 8% 5% 10%;
        text-align: end;

        .line{
            float: right;
        }

        p{
            margin: 3.4rem 0;
        }
    }

    .ourServicePhoto{
        padding: 0;
        background: url("../../images/camera-coffee-composition-1509428.jpg") center center ;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: start;
        .ourServiceDesc{
            height: 85%;
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            background: $primary;
            transform: translateX(-10%);
            overflow: hidden;

            .descContent{
                text-align: center;
                transform: translateX(200px);
                opacity: 0;

                .icon{
                    color: #fff;
                    margin: 1rem auto; 
                }

                .icon-border{
                    height: 10vh;
                    width: 10vh;
                    border: .5vh solid #fff;
                    border-radius: 50%;
                }

                .text{
                    width: 80%;
                    margin: 0 auto;
                }
    
                h5{
                    color: $secondary;
                }
            }
        }
    }
}

// end of our best service section

// start of our client say section

.ourClient{
    background: $primary;
    padding: 0;
    min-height: 50vh;
    overflow: hidden;

    .ourClientSay{
        padding: 5% 2% 5% 10%;
        
        h1{
            color: #fff;
        }
        p{
            color: #fff;
        }
    }

    .clientPhoto{
        background: url("../../images/adult-asian-banking-733856.jpg") center center;
        background-size: cover;
        transform: translateX(200px);
        opacity: 0;
    }

    .clientComment{
        background: #fff;
        display: flex;
        align-items: center;
        transform: translateX(200px);
        opacity: 0;

        .container{
            width: 55%;
            text-align: center;
            
            i{
                color: $secondary;
            }
        }
        .carousel-indicators{
            top: 100%;
        }
        .carousel-indicators li{
            background-color: $primary;
        }

        .carousel-indicators .active{
            background-color: $secondary;
        }
    }
}

// end of our client say section

// start of get in touch section

.getInTouch{
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    background-image: linear-gradient(to right top, rgba(49, 49, 49, 0.8), rgba(48, 48, 48, 0.8)), url("../../images/mihail-macri-541060-unsplash.jpg");
    background-size: cover;

    .getInTouchIcons{
        width: 70%;
        text-align: center;

        h1{
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.5vh;
            transform: translateY(50px);
            opacity: 0;
        }
        .mediaIcons{
            font-size: 3.2vh;
            font-weight: 100;
            display: flex;
            justify-content: space-around;

            i{
                margin: 2rem auto 0 auto;
                color: #fff;
                height: 4rem;
                width: 4rem;
                line-height: 4rem;
                border: .15rem solid #fff;
                border-radius: 50%;
                transform: translateY(50px);
                opacity: 0;
            }
        }
    }
}

// end of get in touch section

// start of footer section

.footer{
    padding: 0;
    min-height: 50vh;
    background: $primary;
    position: relative;
    overflow: hidden;

    .footerContent{
        width: 90%;
        margin: 4rem auto 10rem auto;

        .f-content{
            padding: 0;
            display: grid;
            grid-template-columns: 15% 85%;
            justify-content: center;

            .icon{
                transform: translateX(-50px);
                opacity: 0;
            }
            .text{
                transform: translateY(50px);
                opacity: 0;
            }
            ul li{
                color: $lightPrimary;
                list-style: none;
            }
        }
    }


    .borderBox{
        position: absolute;
        height: 15rem;
        width: 15rem;
        border: .5rem solid $secondary;
        z-index: 1;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transform: translate(-50%,25%) rotate(-45deg);
        opacity: 0;

        .content{
            color: #fff;
            text-align: center;
            font-size: .8rem;
            transform: translate(35%,-120%) rotate(45deg);
        }
    }
}

// end of footer section