$secondary:rgb(231,162,32);
$primary:rgb(25, 25, 25);
$lightPrimary : lighten($primary,50%);
// $darkPrimary: 

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
    font-size: .9rem;
}


// navbar section

.navbar-expand-md{
    position: fixed;
    width: 100%;
    min-height: 5em;
    z-index: 50;
    background-image: radial-gradient(circle, #999999f5, #767676f5, #555555f5, #353535f5, #191919f5);
    transition: all .2s ease;

    .navbar-brand{
        width: 20%;
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }

    button:focus{
        outline: none;
    }

    .toggler-btn{
        padding: 5px;
        transition: all 1s ease;
    }
    
    .bar{
        width: 30px;
        height: 3px;
        margin: 5px;
        background: #fff;
        transition: all 0.5s ease;
    }
    
    .change .bar1{
        transform: translateY(8px) rotate(135deg);
    }
    
    .change .bar2{
        opacity: 0;
    }
    
    .change .bar3{
        transform: translateY(-8px) rotate(45deg);
    }

    .navbar-collapse{
        width: 100%;
        justify-content: flex-end;
    }

    .navbar-nav{
        width: 100%;
        justify-content: space-evenly;
        .space{
            width: 30%;
        }

        a{
            padding: 10px 20px;
            text-transform: capitalize;
            letter-spacing: .15rem;
            color: rgb(202, 202, 202);
            transition: all .5s ease;

            &:hover{
                padding-top: 8px;
                padding-bottom: 8px;
                color: #fff;
                border-top: 2px solid $secondary;
                border-bottom: 2px solid $secondary;
            }
        }
    }
}



.container{
    width: 80%;
    padding-top: 5rem;

    h1{
        color: $primary;
        font-weight: bold;
        text-transform: capitalize;
        margin: 4rem auto 2rem auto;
        text-align: center;
    }
    
    .aboutTeam{
        text-align: justify;
    }
    
    .teamMember{
        .col-sm-6{
            text-align: center;
            margin: 2rem 0;

            img{
                margin-bottom: 2rem;
                width: 130px;
                border-radius: 50%;
            }

            p{
                font-size: .8rem;
                padding: 2rem;
            }
        }
    }

    hr{
        margin-bottom: 0;
    }
    .footer{
        .col-12{
            margin: 2rem 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .navElements{
            a{
                text-decoration: none;
                color: $primary;
            }

            a:hover{
                color: $lightPrimary;
            }
        }

        .mediaIcons{
            justify-content: space-evenly;
            font-size: 1rem;
            font-weight: 100;

            i{
                height: 2rem;
                width: 2rem;
                line-height: 2rem;
                color: #fff;
                text-align: center;
                background: $primary;
                border-radius: 50%;
            }

            i:hover{
                background: $lightPrimary;
                cursor: pointer;
            }
        }
        
        .copyright{
            font-size: .8rem;
        }
    }
}
