* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  font-size: .9rem;
}

.row {
  margin: 0;
}

.navbar-expand-md {
  position: fixed;
  width: 100%;
  padding: .5rem 5vw;
  min-height: 5rem;
  z-index: 50;
  background-color: #353535;
}

.navbar-expand-md .logo {
  height: 3rem;
}

.navbar-expand-md .navbar-toggler .fa-bars {
  color: #fff;
  font-size: 2rem;
}

.navbar-expand-md .navbar-toggler:focus {
  outline: none;
}

.navbar-expand-md .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-expand-md .navbar-collapse .nav-item {
  padding: 0 2rem;
}

.navbar-expand-md .navbar-collapse .nav-item.active a {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  border-top: 2px solid #e7a220;
  border-bottom: 2px solid #e7a220;
}

.navbar-expand-md .navbar-collapse a {
  padding: 10px 20px;
  text-transform: capitalize;
  letter-spacing: .15rem;
  color: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar-expand-md .navbar-collapse a:hover {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  border-top: 2px solid #e7a220;
  border-bottom: 2px solid #e7a220;
}

.header {
  height: 70vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(40, 40, 40, 0.8)), to(rgba(40, 40, 40, 0.8))), url("../../images/architecture-boy-buildings-307847.jpg");
  background-image: linear-gradient(to right top, rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)), url("../../images/architecture-boy-buildings-307847.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  letter-spacing: .1rem;
}

.header .container {
  position: relative;
  height: 100%;
}

.header .content1 {
  position: absolute;
  top: 25%;
  left: 15px;
  text-transform: uppercase;
}

.header .content1 h5 {
  margin: 0;
}

.header .content1 .line {
  height: .1rem;
  background: #fff;
  width: 75%;
  margin: .5rem 0 1rem 0;
}

.header .content2 {
  position: absolute;
  bottom: 10%;
  right: 15px;
  text-align: right;
}

.header .content2 h1 {
  font-weight: 900;
  text-transform: capitalize;
}

.description {
  margin: 5rem auto;
  text-align: center;
}

.description .head {
  font-size: 1rem;
  font-weight: 600;
}

.description p {
  text-align: justify;
}

.description .row h5 {
  margin: 0 auto;
  font-weight: 600;
  color: #e7a220;
}

.description .row i {
  color: #999999;
}

.bestWork {
  margin: 0;
  padding: 5rem 0;
  width: 100%;
  text-align: center;
  background: #cccccc;
}

.bestWork h5, .bestWork p {
  font-weight: 600;
}

.bestWork p {
  margin-bottom: 3rem;
}

.bestWork .row {
  margin: 0;
  padding: 0;
}

.bestWork .col-12 {
  margin: 0;
  padding: 0;
}

.bestWork .col-12 .workContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
}

.bestWork .col-12 .workContent h4, .bestWork .col-12 .workContent h6 {
  font-weight: 600;
}

.bestWork .col-12 .workContent p {
  margin: 0;
  font-size: .8rem;
}

.bestWork .row1 .col-6:nth-child(2) {
  background: url("../../images/work-2.jpeg") center center;
  background-size: cover;
}

.bestWork .row1 .col-6:nth-child(3) {
  background: url("../../images/work-1.jpg") center center;
  background-size: cover;
}

.bestWork .row2 .col-6:nth-child(2) {
  background: url("../../images/work-5.jpg") center center;
  background-size: cover;
}

.bestWork .row2 .col-6:nth-child(3) {
  background: url("../../images/work-4.jpg") center center;
  background-size: cover;
}

.quote {
  width: 100%;
  color: #fff;
  padding: 5%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(40, 40, 40, 0.8)), to(rgba(40, 40, 40, 0.8))), url("../../images/architecture-boy-buildings-307847.jpg");
  background-image: linear-gradient(to right top, rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)), url("../../images/architecture-boy-buildings-307847.jpg");
  background-size: cover;
}

.quote .quoteContent {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.quote .quoteContent p {
  margin: 1rem auto;
}

.quote .quoteContent .line {
  height: .2rem;
  background: #fff;
  width: 50%;
  margin: 1rem auto;
}

hr {
  margin-bottom: 0;
}

.footer .col-12 {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .navElements a {
  text-decoration: none;
  color: #191919;
}

.footer .navElements a:hover {
  color: #999999;
}

.footer .mediaIcons {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
  font-weight: 100;
}

.footer .mediaIcons i {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  background: #191919;
  border-radius: 50%;
}

.footer .mediaIcons i:hover {
  background: #999999;
  cursor: pointer;
}

.footer .copyright {
  font-size: .8rem;
}

@media only screen and (max-width: 575px) {
  .header h5 {
    font-size: .9rem;
  }
  .header h1 {
    font-size: 1.7rem;
  }
  .header p {
    font-size: .7rem;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .navbar-collapse .nav-item {
    padding: 0.5rem 0 !important;
  }
  .header h5 {
    font-size: 1rem;
  }
  .header h1 {
    font-size: 2.1rem;
  }
  .header p {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=our-work.css.map */