$secondary:rgb(231,162,32);
$primary:rgb(25, 25, 25);
$lightPrimary : lighten($primary,50%);
// $darkPrimary: 

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
    font-size: .9rem;
}
.row{
    margin: 0;
}

// navbar section

.navbar-expand-md{
    position: fixed;
    width: 100%;
    padding: .5rem 5vw;
    min-height: 5rem;
    z-index: 50;
    background-color: #353535;

    .logo{
        height: 3rem;
    }

    .navbar-toggler{
        .fa-bars{
            color: #fff;
            font-size: 2rem;
        }
    }
    .navbar-toggler:focus{
        outline: none;
    }
    
    .navbar-collapse{
        justify-content: flex-end;

        .nav-item{
            padding: 0 2rem;
        }
        .nav-item.active a{
            padding-top: 8px;
            padding-bottom: 8px;
            color: #fff;
            border-top: 2px solid $secondary;
            border-bottom: 2px solid $secondary;
        }
        a{
            padding: 10px 20px;
            text-transform: capitalize;
            letter-spacing: .15rem;
            color: #fff;
            transition: all .5s ease;

            &:hover{
                padding-top: 8px;
                padding-bottom: 8px;
                color: #fff;
                border-top: 2px solid $secondary;
                border-bottom: 2px solid $secondary;
            }
        }

    }
}

.header{
    // position: relative;
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(to right top, rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)), url("../../images/architecture-boy-buildings-307847.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
    letter-spacing: .1rem;

    .container{
        position: relative;
        height: 100%;
    }
    .content1{
        position: absolute;
        top: 25%;
        left: 15px;
        text-transform: uppercase;

        h5{
            margin: 0;
        }
        
        .line{
            height: .1rem;
            background: #fff;
            width: 75%;
            margin: .5rem 0 1rem 0;
        }
    }


    .content2{
        position: absolute;
        bottom: 10%;
        right: 15px;
        text-align: right;
        h1{
            font-weight: 900;
            text-transform: capitalize;
        }
    }
}

.description{
    margin: 5rem auto;
    text-align: center;

    .head{
        font-size: 1rem;
        font-weight: 600;
    }

    p{
        text-align: justify;
    }

    .row{
        h5{
            margin: 0 auto;
            font-weight: 600;
            color: $secondary;
        }

        i{
            color: $lightPrimary;
        }
    }
}


.bestWork{
    margin: 0;
    padding: 5rem 0;
    width: 100%;
    text-align: center;
    background: #cccccc;


    h5 ,p{
        font-weight: 600;
    }
    p{
        margin-bottom: 3rem;
    }

    .row{
        margin: 0;
        padding: 0;
    }
    .col-12{
        margin: 0;
        padding: 0;

        .workContent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 10%;

            h4,h6{
                font-weight: 600;
            }

            p{
                margin: 0;
                font-size: .8rem;
            }
        }
    }
    .row1 .col-6:nth-child(2){
        background: url("../../images/work-2.jpeg") center center;
        background-size: cover;
    }
    .row1 .col-6:nth-child(3){
        background: url("../../images/work-1.jpg") center center;
        background-size: cover;
    }
    .row2 .col-6:nth-child(2){
        background: url("../../images/work-5.jpg") center center;
        background-size: cover;
    }
    .row2 .col-6:nth-child(3){
        background: url("../../images/work-4.jpg") center center;
        background-size: cover;
    }
    // .row1 .col-6:nth-child(2), .row1 .col-6:nth-child(3),.row2 .col-6:nth-child(2), .row2 .col-6:nth-child(3){
    //     background: $secondary;
    // }
}

.quote{
    width: 100%;
    color: #fff;
    padding: 5%;
    background-image: linear-gradient(to right top, rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)), url("../../images/architecture-boy-buildings-307847.jpg");
    background-size: cover;

    .quoteContent{
        width: 80%;
        margin: 0 auto;
        text-align: center;

        p{
            margin: 1rem auto;
        }

        .line{
            height: .2rem;
            background: #fff;;
            width: 50%;
            margin: 1rem auto;
        }
    }


}

hr{
    margin-bottom: 0;
}
.footer{
    .col-12{
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .navElements{
        a{
            text-decoration: none;
            color: $primary;
        }

        a:hover{
            color: $lightPrimary;
        }
    }

    .mediaIcons{
        justify-content: space-evenly;
        font-size: 1rem;
        font-weight: 100;

        i{
            height: 2rem;
            width: 2rem;
            line-height: 2rem;
            color: #fff;
            text-align: center;
            background: $primary;
            border-radius: 50%;
        }

        i:hover{
            background: $lightPrimary;
            cursor: pointer;
        }
    }
    
    .copyright{
        font-size: .8rem;
    }
}



// media css 

@media only screen and (max-width: 575px) {
    .header{
        h5{
            font-size: .9rem;
        }
        h1{
            font-size: 1.7rem;
        }
        p{
            font-size: .7rem;
        }
    }
}

@media (max-width: 767px) { 

    .navbar-collapse{
        justify-content: initial;

        .nav-item{
            padding: .5rem 0!important;
        }
    }

    .header{
        h5{
            font-size: 1rem;
        }
        h1{
            font-size: 2.1rem;
        }
        p{
            font-size: .8rem;
        }
    }

 }

// @media only screen and (min-width: 576px) and (max-width: 767px){
//     .header{
//         h5{
//             font-size: 1rem;
//         }
//         h1{
//             font-size: 2.1rem;
//         }
//         p{
//             font-size: .8rem;
//         }
//     }
// }

