* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  font-size: .9rem;
}

.row {
  margin: 0;
  padding: 0;
}

.secondary {
  color: #e7a220;
}

.navbar-expand-md {
  position: fixed;
  width: 100%;
  padding: .5rem 5vw;
  min-height: 5rem;
  z-index: 50;
  background-color: #353535;
}

.navbar-expand-md .logo {
  height: 3rem;
}

.navbar-expand-md .navbar-toggler .fa-bars {
  color: #fff;
  font-size: 2rem;
}

.navbar-expand-md .navbar-toggler:focus {
  outline: none;
}

.navbar-expand-md .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-expand-md .navbar-collapse .nav-item {
  padding: 0 2rem;
}

.navbar-expand-md .navbar-collapse .nav-item.active a {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  border-top: 2px solid #e7a220;
  border-bottom: 2px solid #e7a220;
}

.navbar-expand-md .navbar-collapse a {
  padding: 10px 20px;
  text-transform: capitalize;
  letter-spacing: .15rem;
  color: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar-expand-md .navbar-collapse a:hover {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 2px solid #e7a220;
  border-bottom: 2px solid #e7a220;
}

.container {
  padding-top: 5rem;
}

.container .aboutTeam {
  text-align: justify;
}

.container .aboutTeam h1 {
  color: #191919;
  font-weight: bold;
  text-transform: capitalize;
  margin: 4rem auto 2rem auto;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.container .aboutTeam p {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.container h1 {
  color: #191919;
  font-weight: bold;
  text-transform: capitalize;
  margin: 4rem auto 2rem auto;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.container .teamMember .col-sm-6 {
  text-align: center;
  margin: 2rem 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.container .teamMember .col-sm-6 .img {
  margin: 0 auto 2rem auto;
  width: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.container .teamMember .col-sm-6 .img .after {
  position: absolute;
  padding-bottom: 1.5rem;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
  font-size: 1.2rem;
  font-weight: 100;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#00000000));
  background-image: linear-gradient(to top, #000000, #00000000);
  z-index: 999;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.container .teamMember .col-sm-6 .img .after i:hover {
  color: #999999;
  cursor: pointer;
}

.container .teamMember .col-sm-6 .img img {
  width: 100%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.container .teamMember .col-sm-6 .img:hover .after {
  top: 0;
}

.container .teamMember .col-sm-6 .img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .teamMember .col-sm-6 p {
  text-align: justify;
  font-size: .8rem;
  padding: 1.5rem;
}

.container hr {
  margin-bottom: 0;
}

.container .footer .col-12 {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .footer .navElements a {
  text-decoration: none;
  color: #191919;
}

.container .footer .navElements a:hover {
  color: #999999;
}

.container .footer .mediaIcons {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
  font-weight: 100;
}

.container .footer .mediaIcons i {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  background: #191919;
  border-radius: 50%;
}

.container .footer .mediaIcons i:hover {
  background: #999999;
  cursor: pointer;
}

.container .footer .copyright {
  font-size: .8rem;
}

@media (max-width: 767px) {
  .navbar-collapse {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .navbar-collapse .nav-item {
    padding: 0.5rem 0 !important;
  }
}
/*# sourceMappingURL=our-team.css.map */