* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  font-size: .9rem;
}

.navbar-expand-md {
  position: fixed;
  width: 100%;
  min-height: 5em;
  z-index: 50;
  background-image: radial-gradient(circle, #999999f5, #767676f5, #555555f5, #353535f5, #191919f5);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-expand-md .navbar-brand {
  width: 20%;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.navbar-expand-md button:focus {
  outline: none;
}

.navbar-expand-md .toggler-btn {
  padding: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-expand-md .bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-expand-md .change .bar1 {
  -webkit-transform: translateY(8px) rotate(135deg);
          transform: translateY(8px) rotate(135deg);
}

.navbar-expand-md .change .bar2 {
  opacity: 0;
}

.navbar-expand-md .change .bar3 {
  -webkit-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}

.navbar-expand-md .navbar-collapse {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-expand-md .navbar-nav {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-expand-md .navbar-nav .space {
  width: 30%;
}

.navbar-expand-md .navbar-nav a {
  padding: 10px 20px;
  text-transform: capitalize;
  letter-spacing: .15rem;
  color: #cacaca;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar-expand-md .navbar-nav a:hover {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  border-top: 2px solid #e7a220;
  border-bottom: 2px solid #e7a220;
}

.head {
  width: 100%;
  height: 50vh;
  padding-top: 5rem;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(40, 40, 40, 0.8)), to(rgba(40, 40, 40, 0.8))), url("../../images/architecture-boy-buildings-307847.jpg");
  background-image: linear-gradient(to right top, rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)), url("../../images/architecture-boy-buildings-307847.jpg");
  background-size: cover;
  color: #fff;
}

.head h1 {
  position: absolute;
  top: 60%;
  left: 15%;
  font-weight: bolder;
}

.awesomeService {
  width: 80%;
  padding: 4rem 0 0 0;
  text-align: center;
}

.awesomeService h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.awesomeService .line1 {
  width: 20%;
  height: .15rem;
  background: #e7a220;
  margin: .5rem auto;
}

.awesomeService .line2 {
  width: 15%;
  height: .1rem;
  background: #e7a220;
  margin: .5rem auto;
}

.awesomeService p {
  margin: 1.5rem 0;
}

.awesomeService .row {
  margin: 0;
  padding: 2rem 0;
}

.awesomeService .row .col-md-6 {
  padding: 1rem 1rem 1rem 2rem;
  position: relative;
  text-align: justify;
}

.awesomeService .row .col-md-6 .services {
  border: 0.1rem solid #999999;
}

.awesomeService .row .col-md-6 .services .logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #999999;
  padding: .8rem;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: #fff;
}

.awesomeService .row .col-md-6 .services h4 {
  text-align: center;
  margin: 1rem auto 0 auto;
  text-transform: capitalize;
}

.awesomeService .row .col-md-6 .services p {
  padding: 1rem .5rem 1rem 2.5rem;
  margin: 0;
}

.awesomeService .row .col-md-6:hover .services {
  border-color: #e7a220;
  cursor: pointer;
}

.awesomeService .row .col-md-6:hover .logo {
  background: #e7a220;
}

.stats {
  width: 100%;
  background: #191919;
}

.stats .statsContainer {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  color: #fff;
}

.stats .statsContainer .row {
  margin: 0;
  padding: 3rem 0;
}

.stats .statsContainer .row .col-6 {
  padding: 1rem;
  text-align: center;
  border-right: 0.1rem solid #e7a220;
}

.stats .statsContainer .row .col-6:last-child {
  border-right: none;
}

.stats .statsContainer .row .col-6 p {
  margin: 1rem 0;
}

.pricingTable {
  width: 80%;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.pricingTable h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.pricingTable .line1 {
  width: 20%;
  height: .15rem;
  background: #e7a220;
  margin: .5rem auto;
}

.pricingTable .line2 {
  width: 15%;
  height: .1rem;
  background: #e7a220;
  margin: .5rem auto;
}

.pricingTable p {
  margin: 1.5rem 0;
}

.pricingTable .row {
  padding: 0;
  margin: 0;
}

.pricingTable .row .col-md-4 {
  margin: 0;
  padding: .5rem;
}

.pricingTable .row .col-md-4 .tableContent {
  border: 0.1rem solid #999999;
}

.pricingTable .row .col-md-4 .tableContent .heading {
  background: #191919;
  color: #fff;
  padding: 2rem 0 5rem 0;
}

.pricingTable .row .col-md-4 .tableContent .heading h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.pricingTable .row .col-md-4 .tableContent .heading h6 {
  text-transform: capitalize;
}

.pricingTable .row .col-md-4 .tableContent .content {
  position: relative;
}

.pricingTable .row .col-md-4 .tableContent .content .price {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1.5rem;
  background: #e7a220;
  color: #fff;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.pricingTable .row .col-md-4 .tableContent .content .price span {
  font-size: 1.8rem;
}

.pricingTable .row .col-md-4 .tableContent .content .price .permonth {
  font-size: .8rem;
}

.pricingTable .row .col-md-4 .tableContent .content p {
  margin: 0;
  padding: 1rem 0;
  border-top: 0.05rem solid #999999;
}

.pricingTable .row .col-md-4 .tableContent .content .first {
  padding-top: 5rem;
}

.quote {
  width: 100%;
  padding: 4rem 2rem;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(40, 40, 40, 0.8)), to(rgba(40, 40, 40, 0.8))), url("../../images/architecture-boy-buildings-307847.jpg");
  background-image: linear-gradient(to right top, rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)), url("../../images/architecture-boy-buildings-307847.jpg");
  background-size: cover;
}

.quote h2 {
  font-weight: bolder;
  text-transform: capitalize;
  color: #fff;
}

.footerDiv {
  width: 80%;
  padding-top: 3rem;
}

.footerDiv hr {
  margin-bottom: 0;
}

.footerDiv .footer .col-12 {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footerDiv .footer .navElements a {
  text-decoration: none;
  color: #191919;
}

.footerDiv .footer .navElements a:hover {
  color: #999999;
}

.footerDiv .footer .mediaIcons {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1rem;
  font-weight: 100;
}

.footerDiv .footer .mediaIcons i {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  background: #191919;
  border-radius: 50%;
}

.footerDiv .footer .mediaIcons i:hover {
  background: #999999;
  cursor: pointer;
}

.footerDiv .footer .copyright {
  font-size: .8rem;
}

@media only screen and (max-width: 767px) {
  .stats .statsContainer .row .col-6:nth-child(2) {
    border-right: none;
  }
}
/*# sourceMappingURL=ourService.css.map */